.password-popup {
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    width: auto;
    background-color: #f3f4f6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
}

.popup-close {
    float: right;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.popup-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.popup-content {
    color: #333;
}

.popup-content ul {
    list-style-type: none;
    padding: 0;
}

.popup-content li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.popup-content li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4caf50;
    /* Green dot */
}

@media (max-width: 480px) {
    .password-popup {
        padding: 15px;
        max-width: 95%;
    }
}