.reset-square {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 30px;
    margin-top: 50px;
    margin-bottom: auto;
    background: #ebeae8;
    padding-bottom: 30px;
    max-width: 600px;
    /* Updated width */
    width: 100%;
    /* Allow it to take the full available width */
    box-sizing: border-box;
    /* Box-sizing to include padding */
    border-radius: 6px;
    /* Apply border radius to the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
}

.login-header {
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: none;
}

.form-login-reset {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-field-reset {
    display: flex;
    align-items: center;
    /* Updated alignment to center vertically */
    margin: auto;
    width: 100%;
    /* Take the full available width */
    max-width: 400px;
    /* Limit the maximum width */
    height: 65px;
    background: #cccbc9;
    border-radius: 6px;
    box-sizing: border-box;
    /* Include padding and border in width */
    padding: 0 15px;
    /* Add horizontal padding */
    margin-bottom: 25px;
}

.form-login-reset input {
    height: 40px;
    width: 100%;
    /* Take the full available width */
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
    padding: 10px;
}

.reset-button {
    display: flex;
    gap: 30px;
    margin: 20px auto;
    justify-content: center;
    width: 220px;
    height: 50px;
    color: black;
    background: #ffc421;
    font-size: 19px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Add a box shadow for button */
}

.reset-button button {
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    width: 100%;
    /* Take the full available width */
    align-self: center;
}

.reset-button:hover {
    color: black;
    background: #fdd567;
}

.password-strength {
    margin-right: 50px;
    margin-left: 90px;
    font-weight: bold;
}

.password-error {
    color: red;
}

/* resetPassword.css */
.success-message {
    color: green;
}

.alert {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
}


@media (max-width: 768px) {
    .reset-square {
        padding: 15px;
    }

    .form-field-reset {
        max-width: 100%;
    }

    .form-login-reset input {
        max-width: 100%;
    }
}